<div class="container">
  <div class="container">
    <form class="">
      <h3 class="">Add a Link</h3>
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title:</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="title"#newTitle>
      </div>
      <div class="">
        <label for="formGroupExampleInput2" class="form-label">Link:</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" name="link"#newLink>
      </div>
      <div class="col-12">
        <!-- <button class="btn btn-primary">Submit link</button> -->
        <button class="btn btn-primary" (click)="addArticle(newTitle, newLink)">Submit</button>
      </div>
    </form>
    <app-article
      *ngFor="let article of sortedArticles()"
      [article]="article">
    </app-article>
    <!-- <div *ngFor="let article of articles">
      <app-article style="margin: 10px;"></app-article>
    </div> -->
    
  </div>
  <!-- <app-article
    *ngFor="let article of sortedArticles()"
    [article]="article"
  ></app-article> -->
</div>

<!-- <h1>{{title}}</h1>
<app-hello-world></app-hello-world>
<app-user-item></app-user-item>
<app-user-list></app-user-list> -->